Adding and Updating

In [ ]:
--Updating of stock/updating quantity
UPDATE inventory
SET quantity = 13
WHERE product_id = 3;

<span style="font-size: 13px;">Updated the quantity of the product_id 3, which is the T-shirt, from 15 to 13.
<br>    
    The <b>SET</b> clause is utilized to indicate the target column(s) where the updated values should be applied, whereas the <b>WHERE</b> clause specifies the specific row(s) that should reflect those changes. By employing the SET and WHERE clauses in conjunction, we can precisely define the column(s) and row(s) that need to be updated in the database.
</span>

In [ ]:
--Adding additional columns  in the customers table such as phone_number and birdate.
ALTER TABLE customers
ADD phone_number VARCHAR(20),
	birthdate DATE;

<span style="font-size: 13px;">Since the customer table did not initially have the phone numbers and birthdate columns, I added them to the existing table using the ALTER TABLE statement along with the AND clause.</span>

Customer Profiles

In [ ]:
--Updating customer phone number
UPDATE customers
SET phone_number = CASE
	WHEN customer_id = 9 THEN '555-123-4567'
	WHEN customer_id = 16 THEN '555-987-6543'
	WHEN customer_id = 2 THEN '555-555-5555'
	WHEN customer_id = 14 THEN '555-888-9999'
	WHEN customer_id = 7 THEN '555-333-2222'
	ELSE NULL
	END;

In [ ]:
--Updating customer birthdates 
UPDATE customers
SET birthdate = CASE
	WHEN customer_id = 9 THEN '1993-01-17'
	WHEN customer_id = 16 THEN '1994-02-04'
	WHEN customer_id = 2 THEN '1992-05-23'
	WHEN customer_id = 14 THEN '1996-06-15'
	WHEN customer_id = 7 THEN '1995-10-31'
	ELSE NULL
	END;

Order Tracking
<br>
<span style="font-size: 13px;">Most of these implemented queries are designed to track and retrieve order status information for specific orders.</span>

In [ ]:
--Find the order status for the specified customer name	
SELECT os.status
FROM order_status os
JOIN orders o ON os.order_id = o.order_id
JOIN customers c ON o.customer_id = c.customer_id
WHERE c.customer_name = 'Michael Wilson';

In [ ]:
--Find the order status and customer name for the specifide customer ID
SELECT os.status, c.customer_name
FROM order_status os
JOIN orders o ON os.order_id = o.order_id
JOIN customers c ON o.customer_id = c.customer_id
WHERE o.customer_id = 11;

In [ ]:
--Updating an order status from Processing to Canceled
UPDATE order_status
SET status = 'Canceled'
WHERE order_id = 16;

In [ ]:
--Finding the order status for the speicified order ID
SELECT status as '1 status'
FROM order_status
WHERE order_id = 1;