**Table creation**.
Creating the tables for the E-commerce database, namely customers, inventory, orders, products, and transactions.

In [ ]:
--Create table for Customers
CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  customer_name VARCHAR(20),
  address VARCHAR(20),
  email VARCHAR(50)
);

In [ ]:
--Create table for Products
CREATE TABLE products(
product_id INT PRIMARY KEY,
product_name VARCHAR (20),
category VARCHAR (20),
price INT
);

In [ ]:
--Create tables for Orders
CREATE TABLE orders (
  order_id INT PRIMARY KEY,
  customer_id INT,
  order_date DATE,
  total_amount DECIMAL(10, 2),
  FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

In [ ]:
--Create tables for Transactions
CREATE TABLE transactions (
  transaction_id INT PRIMARY KEY,
  order_id INT,
  product_id INT,
  transaction_date DATE,
  FOREIGN KEY (order_id) REFERENCES orders(order_id),
  FOREIGN KEY (product_id) REFERENCES products(product_id)
);

**Inserting records into the table**

I have only selected a few entries as the data set for each table contains 20 records. This is done for the purpose of showcasing the querying process.

In [ ]:
--Inserting of customer names
INSERT INTO customers (customer_id, customer_name, address, email)
VALUES
  (4, 'Emily Brown', '567 Pine St', 'emily@example.com'),
  (5, 'Michael Wilson', '890 Maple Ave', 'michael@example.com'),
  (6, 'Sophia Davis', '234 Cedar St', 'sophia@example.com'),
  (7, 'Daniel Miller', '901 Oak St', 'daniel@example.com'),

In [ ]:
--Inserting of products and its values
INSERT INTO products VALUES (1, 'Laptop', 'Electronics', 1200);
INSERT INTO products VALUES (2, 'Smartphone', 'Electronics', 800);
INSERT INTO products VALUES (3, 'T-shirt', 'Clothing',  25);
INSERT INTO products VALUES (4, 'Shoes', 'Footwear', 80);

In [ ]:
--Inserting of orders
INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES 
(1, 1, '2022-01-15', 1500),
(2, 2, '2022-02-10', 600),
(3, 3, '2022-03-20', 350);

In [ ]:
--Inserting of transactions
INSERT INTO transactions (transaction_id, order_id, product_id, transaction_date)
VALUES (1, 1, 1, '2022-01-15'),
(2, 1, 3, '2022-01-15'),
(3, 2, 2,'2022-02-10'),
(4, 2, 4, '2022-02-10'),
(5, 3, 3, '2022-03-20');