Create a database table for storing information about books.

In [ ]:
--Create table for books
CREATE TABLE books ( --This line initiates the creation of a new database table called "books.
book_id INT PRIMARY KEY, --
author_id INT,
book_title VARCHAR(20),
genre VARCHAR (20)
);

ALTER TABLE books --  This part specifies that you want to modify the "books" table.
ADD FOREIGN KEY(author_id) REFERENCES authors(author_id); --This line adds a foreign key constraint to the "author_id" column in the "books" table.

This SQL script creates a database table named "books" to store information about books. The table has columns for a unique book ID, author ID, book title, and genre. Additionally, it establishes a relationship between the "books" table and another table called "authors" by adding a foreign key constraint on the "author_id" column in the "books" table, ensuring that author IDs in the "books" table correspond to valid author IDs in the "authors" table. This script is a common practice in database design to manage relationships between entities, like books and their authors, in a structured manner.

**More on this** or structure of the book tables with the following columns.

`book_id INT PRIMARY KEY:` This column is a data type type INT or integer, since it uses integer number for book IDS, and is designated as primary key.
`author_id INT`: This column is also a data type INT (integer) and is used to store the identifier of the author of the book/s.
<br>
`book_title VARCHAR(20)`: This column is of the datatype VARCHAR, which is used for strings of variable length. It can hold book titles with a maximum length of 20 characters.
<br>
`genre VARCHAR(20)`: This column is also of VARCHAR type and can store the genre of the book, with a maximum length of 20 characters.

 Data insertion into the books table:

In [ ]:
INSERT INTO books (book_id, author_id, book_title, genre)
VALUES (1, 1, 'To Kill A Mockingbird', 'Southern Gothic'),
(2, 2, '1984', 'Dystopian'),
(3, 3, 'Pride and Prejudice', 'Romance'),

Breakdown:
<br>
`INSERT INTO books`:This is the part of the statement that specifies that we want to insert data into the table called "books".
<BR>
`(book_id, author_id, book_title, genre)`:This is where you list the names of the columns in the Books table into which you want to insert the data. These column names are followed by the values of the data that we would like to insert.   
`VALUES`:The keyword indicates that it is about to specify the specific values to be inserted into the specified columns.

I have also implemented tables for authors, book logs, and borrowers; however, due to potential length constraints, I will not include them in this document. Instead, I will focus solely on presenting the queries I have developed for analysis.

I wanted to view what the scheme is specifically the column names and data types for my books table with this query:

In [ ]:
SELECT COLUMN_NAME, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'books';

There's also an instance where a data entry for an author's last name was misspelled and written in all capital letters, so I corrected it with this:

In [ ]:
--Update the name spelling for author George Orwell
UPDATE authors
SET author_name = 'George Orwell'
WHERE author_name = 'George OWELL'

<p style="font-weight: bold; font-size: 20px;">Data Analysis</p>

In [ ]:
--Show borrower names and the books they borrowed
SELECT b.name AS Borrower_Names, bl.book_id, bo.book_title
FROM borrowers b
JOIN book_logs bl ON b.borrower_id = bl.borrower_id
JOIN books bo ON bl.book_id = bo.book_id;

In [ ]:
--Show the phone number for a certain book borrower
SELECT b.name, b.phone, bl.transaction_id
FROM borrowers b
JOIN book_logs bl ON bl.borrower_id = b.borrower_id
WHERE b.name = 'Michael Wilson';

In [ ]:
--Retrieve the names of customers whose return dates are pending, along with their corresponding transaction IDs.
SELECT bl.transaction_id, b.name, bl.due_date
FROM borrowers b
JOIN book_logs bl ON bl.borrower_id = b.borrower_id
WHERE bL.date_returned IS NULL;

In [ ]:
--Retrieve borrowers names and the books they borrowed as well as return date and due date
SELECT b.name, bl.book_id, bo.book_title, bl.date_returned,  bl.due_date
FROM borrowers b
JOIN book_logs bl ON b.borrower_id = bl.borrower_id
JOIN books bo ON bl.book_id = bo.book_id;

In [ ]:
--Show all dates where returned dates are NULL
SELECT bl.transaction_id, bl.book_id, bl.date_borrowed, bl.date_returned, bl.due_date, bl.borrower_id, bo.name, bo.email
FROM book_logs bl
JOIN borrowers bo ON bo.borrower_id = bl.transaction_id
WHERE bl.date_returned IS NULL;